html, body {
    height: 98%;
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: absolute;
    top: 0;
    height: 10vh;
}

.aladin {
    position: absolute;
    width: 99%;
    top: 8vh;
    height: 90vh;
}
